
.place__url-name {
    color: #AAAAAA;
    font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 12px;
   margin: 0;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   margin-bottom: 12px
     
   }



   