.place__container {

    max-width: 484px;
    
    
  }



@media screen and (max-width: 320px) {


.place__container {
    max-width: 288px;
    margin: auto;

}

}



@media screen and (max-width: 679px) {

  .place__container {
    padding-left: 16px;
  }
    }


@media screen and (max-width: 679px) {

      .place__container {
   padding-left: 0;
      }
        }




  