.footer__link {
    margin: 0 18px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    list-style-type: none;
    color: white;
    
  }



  .footer__link:hover {
    opacity: 0.8;
    transition: opacity ease-out 0.7s;
  }




    @media screen and (max-width: 720px) {
      .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-right: 0;
        margin-bottom: 32px;
    }
  
    .footer__link:last-child {
        margin-bottom: 48px;
    }
  }



  