.place__paragraph_container {

    max-width: 484px;
    
    
  }



@media screen and (max-width: 320px) {


.place__paragraph_container {
    max-width: 288px;
    margin: auto;

}

}



@media screen and (max-width: 679px) {

  .place__paragraph_container {
    padding-left: 16px;
  }
    }




  